.idea/
.idea
.DS_Store
.vscode
dev/
.*  # ignore all hidden files and folders
!/.gitignore  # explicitly do not ignore .gitignore

# Created by https://www.gitignore.io/api/jupyternotebook

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#


# End of https://www.gitignore.io/api/jupyternotebook
